.dashboard-wrapper {
    width : 70%;
    margin: auto;

    @media (max-width: $tablet-breakpoint) {
        width  : 100%;
        padding: $s-size;
    }

    h3 {
        color: $light-teal;
    }

    .buttons-wrapper {
        text-align: right;
        padding   : $xs-size;

        button {
            margin     : $xs-size;
            border     : 1px solid;
            font-weight: bolder;


        }
    }
}

#userTable {
    font-size      : 1rem;
    font-family    : "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing : 0;
    margin         : auto;
    border         : 1px solid #ddd;
    height         : 290px;

    thead {
        background: $light-blue;
        color     : $white;
    }

    th,
    td {
        border-bottom: 1px solid #ddd;
        text-align   : left;
        padding      : 0.5rem;
    }
}