.header {
    background     : $teal;
    justify-content: space-between;

    .project-name {
        color      : $white;
        font-weight: bolder;
        font-size  : x-large;
        margin     : $xs-size 0 $xs-size $m-size;
    }

    .user-wrapper {
        display       : flex;
        flex-direction: column;

        span {
            margin: 0.2rem $xs-size 0 0;
            color : $white;
        }
    }

    button {
        color    : $white;
        font-size: small;

        &:focus {
            box-shadow: none;
        }
    }
}