.user-details {
    text-align: center;
    margin-top: $l-size;

    img {
        border-radius: 50%;
    }

    .user-email {
        margin    : $s-size;
        font-style: italic;
        font-size : large;
    }

    .user-name {
        margin     : $s-size;
        font-weight: bold;

    }
}